body {
  font-size: 16px;
  color: #000000;
  background-color: #fff;
  font-family: 'Changa', sans-serif;
}
h2 {
  font-size: 2.5em;
}
/** HEADER **/
#header-nav {
  background-color: #A9A9A9;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /** Restaurant Name **/
  font-family: 'Kreon', serif;
  color: #000000;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list{
   margin-top: 10px;
}
#nav-list a {
  color: #fff;
  text-align: center;  
}
#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #696969;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* MAIN BODY */
.menu-tile {
  position: relative;
  border: 2px solid #A9A9A9;
  margin: 15px;
  background-color: #A9A9A9;
}
.menu-tile span {
  margin-left: 160px;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;

}

.menu-tile:hover {
  box-shadow: 0 1px 5px 1px #000000;
}
/* END OF MAIN BODY */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 2em; 
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  /* End Header */

}
